@import "mixin.scss";
$sudo_green:#50e2c2;
$deep_blue:#23263a;
$card_width: 300px;
$card_height: 200px;

body{
    background: $deep_blue;
    text-align: center;
}

h1, p {
    color: $sudo_green;
    text-align: center;
}

.card {
    position: relative;
    display: inline-block;
    width: $card_width;
    height: $card_height;
    border: $sudo_green 1px solid;
    h2 {
        color: $sudo_green;
    }
    .reveal {
        opacity: 0;
        position: absolute;
        background: white;
        width: $card_width;
        height: $card_height;
        top: 0;
    }
}

.card {
    @include transition(all 0.5s ease);
    .reveal {
        @include transition(all 0.5s ease);
        @include transform(rotateY(180deg));
    }
    &:hover {
        @include transform(rotateY(180deg));
        .reveal {
            opacity: 1;
        }
    }
}